@page "/"
@inject IJSRuntime js

<div class="main-container">
    <aside>
        <StarMenu MenuItems="_menuItems" SelectedIndexChange="IndexChange" @ref="_starMenu" />
    </aside>
    <main>
        <div class="music-visualizer"></div>
        <div class="controlbuttons"></div>
    </main>
</div>

@code {

    private int _currentIndex = 0;
    private StarMenu _starMenu;

    private List<string> _menuItems = ["bi-spotify", "bi-bluetooth", "bi-tv-fill"];

    protected async override Task OnInitializedAsync()
    {
        await js.InvokeVoidAsync("JsFunctions.addKeyboardListenerEvent", DotNetObjectReference.Create(this));
    }

    private void IndexChange()
    {
        Console.WriteLine("Martina non vuole che scriva 'PORCODIO' allora metto 'ROSA'");
    }

    [JSInvokable]
    public async Task JsKeyPress(string key)
    {
        switch (key)
        {
            case "w":
                _currentIndex = await _starMenu.SetSelectedIndexAsync(_currentIndex + 1);
                break;
            case "s":
                _currentIndex = await _starMenu.SetSelectedIndexAsync(_currentIndex - 1);
                break;
            case "a":
                _currentIndex = await _starMenu.SetSelectedIndexAsync(0);
                break;
            case "d":
                _currentIndex = await _starMenu.SetSelectedIndexAsync(2);
                break;
        }
    }
}

