.star-menu {
    width: 180px;
    overflow: hidden;
    /*background: blue;*/
}

.star-menu-fixed {
    width: 480px;
    height: 480px;
    transition: all 250ms ease-in-out;
    transform: translateX(-450px);
}

    .star-menu-fixed.enabled {
        transform: translateX(-340px);
    }

.star-menu-rotating {
    width: 480px;
    height: 480px;
    position: relative;
    transition: all 250ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item {
    position: absolute;
    transition: all 250ms ease-in-out;
}

.menu-item > .icon {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkgray;
    transition: all 250ms ease-in-out;
}

.menu-item.selected > .icon {
    color: white;
}
