.star-menu {
    width: 180px;
    overflow: hidden;
    background: blue;
}

.star-menu-fixed {
    width: 480px;
    height: 480px;
    transform: translateX(-340px) translateY(0px);
}

.star-menu-rotating {
    width: 480px;
    height: 480px;
    position: relative;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item {
    position: absolute;
    transition: all 0.5s ease-in-out;
}

    .menu-item.item-1 {
        transform: rotate(0deg) translate(220px) rotate(0deg);
    }

    .menu-item > .icon {
        font-size: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: darkgray;
        transition: all 0.5s ease-in-out;
    }

    .menu-item.selected > .icon {
        color: white;
    }
